body {
  background-color: #FBF9F1;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container-input {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container-cap {
  background-color: #E5E1DA;
  padding: 10px;
}

.input {
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  color: #43766C;
  border: 2px solid #FBF9F1;
  box-shadow: inset 0px 0px 0px 4px #FBF9F1;
  outline:none;
}

.btn {
  margin-left: 3%;
  padding: 10px;
  border: none;
}

h1 {
  font-size: 60px;
  font-family: 'Abhaya Libre', serif;
  color: #6DA4AA;
  text-shadow: 2px 2px 4px rgb(54, 28, 32);
}

.container-recipes {
  display: flex;
  flex-wrap: wrap;
}

.container-info {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin: 5px;
  text-align: center;
  width: 350px;
  background-color: #AAD7D9;
}

.fon {
  margin: 10px;
  background: #AAD7D9;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 10px;
}

h2, ul, p {
  font-family: 'Abhaya Libre', serif;
}

.list {
  display: flex;
  flex-direction: column;
}

li {
  font-family: 'Abhaya Libre', serif;
  list-style-type: none;
}

